* {
	box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin-top: 10px;
  padding: 0;
  background-color:#E9E5D6;
}

a {
  text-decoration: none;
}

input[type="text"], textarea {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color:#fff9e5;
  box-shadow: 0px 0px 8px #333;
}
input[type="date"], textarea {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color:#fff9e5;
  box-shadow: 0px 0px 8px #333;
}

button {
  padding: 8px 18px;
  background-color: #464E2E;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 0px;
  float:right;
}

button:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid #464E2E;
  
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 25px;
  background-color: #ACB992;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #333;
  transition: all 0.2s ease-in-out; 
  
}

li:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 20px #333
}

.navbar {
  background-color: #464E2E;
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.navbar a {
  color: #fff;
  margin-right: 20px;
}

.buttonleft{
  float:left;
  margin-left: 0px;
}

.margin{
  margin-bottom: 50px;
}

@media screen and (min-width: 900px) {

	.container {
		display: block;
		width: 900px;
		margin-left: auto;
		margin-right: auto;	
	}

  .navbar {
    display: block;
		width: 900px;
		margin-left: auto;
		margin-right: auto;	
    display: flex;
  }
}